body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

header {
    background-color: #00bfff;
    color: #fff;
    text-align: center;
    padding: 40px;
    width: 100%;
}

section {
    margin: 30px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: calc(33.33% - 40px);
    box-sizing: border-box;
}

h1, h2 {
    color: #000000;
}

li {
    margin-bottom: 11px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
}

footer {
    background-color: #00bfff;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

p {
    line-height: 1.9;
}

.about-me, .image-container {
    background-color: #e6f7ff;
    width: calc(33.33% - 40px); 
}

.skills, .other-skills, .contact, .my-skills {
    background-color: #ccf2ff;
    width: calc(33.33% - 40px); 
}
